@import "../../styles/mixins";
@import "../../styles/variables";

.headerContainer {
  height: 400px;
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 20px;

  // background-image: url("../../images/headerback.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: 100% 60%;
}

.headerBackImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.newsContentContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.newsTextContainer {
  width: 30%;
  position: relative;
  text-align: left;
  padding: 5px 5px 5px 40px;
}

.overlay {
  opacity: 0.7;
  position: absolute;
  top: 0px;
  right: -20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;

  @include transform($skew: -10deg);
}

.newsBtn {
  background: $mainColor !important;
  color: white !important;
  font-weight: bold;
  outline: none;
  border: 0px;
  height: 50px;
  width: 40px;
  margin-left: 10px;
}

.headerNavbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;

  z-index: 11;
}

.navBrand {
  background: $mainColor !important;
  color: white !important;
  font-weight: bold;
  padding: 10px 40px 10px 40px;
  margin-left: 20px;
  z-index: 10;
  box-shadow: 0px 0px 2px 0px black;
  @include transform($skew: -20deg, $scaleX: 1.2, $scaleY: 1.2);
}

.navItems {
  background: white;
  transform: skewX(-20deg);
  margin-left: -5px;
}

:global(.nav-link) {
  color: black !important;
  font-weight: bold;
  @include transform($skew: 20deg);
}

:global(.nav-link:hover) {
  background: $mainColor;
  color: white !important;
  font-weight: bold;
  @include transform($skew: 0deg, $scaleY: 1.4);
}

.navBarToggle {
  background: $mainColor !important;
}

@media only screen and (max-width: 991px) {
  .newsTextContainer {
    width: 100%;
    flex: 1;
  }

  .newsContentContainer {
    align-items: flex-end;
    padding-left: 0px !important;
  }

  .overlay {
    transform: skewX(0);
    right: 0px;
  }
  .headerNavbar {
    display: block;
  }

  .navItems {
    margin-top: 10px;
    @include transform($skew: 0deg);
  }

  :global(.nav-link),
  :global(.nav-link:hover) {
    @include transform($skew: 0deg);
    padding-left: 10px !important;
  }
  .newsNavBtns {
    display: none;
  }

  .newsNavBtns2 {
    display: block !important;
  }

  .headerText {
    padding-left: 0px !important;
  }
}

.headerText {
  color: whitesmoke !important;
  line-height: 2em;
  padding-left: 10px;
  font-size: 1.2em;
}

.newsNavBtns {
  margin-right: -45px;
  @include transform($rotate: -90deg, $skew: -10deg);
}

.newsNavBtns2 {
  text-align: center;
  display: none;
}
