@mixin transform(
  $skew: 0deg,
  $scaleY: 1,
  $scaleX: 1,
  $translateX: 0,
  $translateY: 0,
  $rotate: 0
) {
  & {
    -webkit-transform: skew($skew) scaleY($scaleY) scaleX($scaleX)
      translate($translateX, $translateY) rotate($rotate);
    -ms-transform: skew($skew) scaleY($scaleY) scaleX($scaleX)
      translate($translateX, $translateY) rotate($rotate);
    transform: skew($skew) scaleY($scaleY) scaleX($scaleX)
      translate($translateX, $translateY) rotate($rotate);
  }
}
